@model Kladionica.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedOutcome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedOutcome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Costs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Costs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stake)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stake)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCoefficient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCoefficient)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WinningTicket)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WinningTicket)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gain)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SelectedOutcome">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
