@model IEnumerable<Kladionica.Models.Game>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<hr/>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutcomeGame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfGame)
            </th>
            <th><a asp-action="AddorEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Add new</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutcomeGame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfGame)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Sport">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Sport">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Sport">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
