@model IEnumerable<Kladionica.Models.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<hr/>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SelectedOutcome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCoefficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinningTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gain)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedOutcome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCoefficient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinningTicket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gain)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SelectedOutcome">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SelectedOutcome">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SelectedOutcome">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
